@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    min-height: 100vh;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.navbar {
    height: 7vh;
    background-color: black;
}

.navbar.navbar-primary {
    background-color: orange;
}

.navbar .nav-item {
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 700;
    font-size: medium;
}

.navbar .nav-item:hover {
    color: orange;
}

.navbar.navbar-primary .nav-item:hover {
    color: white;
    opacity: 0.8;
}

.navbar-brand {
    color: white;
    font-size: x-large;
    font-weight: 700;
    vertical-align: middle;
}

.navbar-brand:hover {
    color: white !important;
}

.navbar-brand-icon {
    color: white;
    vertical-align: middle;
    padding-right: 4px;
    font-size: 40px;
}

.heavy {
    font-weight: 700;
    font-size: 12vh;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    background-color: orange;
    border-color: transparent;
    color: white;
    padding: 10px 60px;
    border-radius: 40px;
}

.btn-primary:hover {
    background-color: #ffb260;
    border-color: transparent;
    color: white;
}

.btn-primary:active {
    background-color: white !important;
    border-color: transparent !important;
    color: orange !important;
}

.nav-btn {
    padding: 6px 20px;
    margin-left: 20px
}

.navbar.navbar-primary .nav-btn {
    background-color: white;
    color: orange;
}

.navbar.navbar-primary .nav-btn:hover {
    background-color: white;
    color: orange;
    opacity: 0.8;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}